<div class="container main-menu">
    <a class="main-menu-items" routerLinkActive="active-menu-link" [routerLink]="['/dashboard']"><i class="fa-solid fa-house"></i></a>
    <a class="main-menu-items" routerLinkActive="active-menu-link" [routerLink]="['/planner']"><i class="fa-solid fa-calendar-days"></i></a>
    <a class="main-menu-items" routerLinkActive="active-menu-link" [routerLink]="['/profile']"><i class="fa-solid fa-user"></i></a>
    <a class="main-menu-items main-menu-items--plus" routerLinkActive="active-menu-link" [routerLink]="['/addTask']"><i class="fa-solid fa-circle-plus"></i></a>
</div>