<div class="container welcome">

    <h1 class="welcome-title">Bem Vindo!</h1>
    <img  class="container-sm welcome-img" src="../../assets/img/welcome.jpg" alt="">
    <p>Organize seu dia com Tudu.</p>
    <div class="welcome-points" >
        <i  class="fa-solid fa-circle welcome-points-items"></i>
        <i style="opacity: 0.5;" class="fa-solid fa-circle welcome-points-items"></i>
        <i style="opacity: 0.5;" class="fa-solid fa-circle welcome-points-items"></i>
        <i style="opacity: 0.5;" class="fa-solid fa-circle welcome-points-items"></i>
    </div>
    <footer class="welcome-footer">
       <a routerLink="login" class="welcome-footer-link">
           <i class="fa-solid fa-arrow-up"></i>
       </a> 
    </footer>
</div>