<div class="container">

    <h1>Bem Vindo!</h1>
    <img class="container-sm" src="../../assets/img/welcome.jpg" alt="">
    <p>Organize seu dia com Tudu.</p>
    <div >
        <i  class="fa-solid fa-circle"></i>
        <i style="opacity: 0.5;" class="fa-solid fa-circle"></i>
        <i style="opacity: 0.5;" class="fa-solid fa-circle"></i>
        <i style="opacity: 0.5;" class="fa-solid fa-circle"></i>
    </div>
    <footer>
       <a routerLink="login">
           <i class="fa-solid fa-arrow-up"></i>
       </a> 
    </footer>
</div>