<div class="container dashboard">
    <h1 class="dashboard-title">Tarefas</h1>
    <div class="container dashboard-container dashboard-container-todo">
        <h2>A FAZER</h2>
        <ul class="dashboard-todo-list">

            <li *ngFor="let task of tasks" >
                <tudu-card-todo *ngIf="task.status === 'todo'" [tasks]="task" (open)="openDetails()"></tudu-card-todo>
            </li>
        </ul>
    </div>
    <div class="container dashboard-container dashboard-container-progress">
        <h2>

            EM PROGRESSO
        </h2>
        <ul class="dashboard-progress-list">

            <li *ngFor="let task of tasks" >
                
                <tudu-card-progress *ngIf="task.status === 'progress'" [tasks]="task" (open)="openDetails()"></tudu-card-progress>
            </li>
        </ul>
    </div>
    <div class="container dashboard-container dashboard-container-completed">
        <h2>

            CONCLUÍDO
        </h2>
        <ul class="dashboard-completed-list">

            <li *ngFor="let task of tasks" >
                
                <tudu-card-completed *ngIf="task.status === 'completed'" [tasks]="task" (open)="openDetails()"></tudu-card-completed>
            </li>
        </ul>
    </div>
    <tudu-menu></tudu-menu>
</div>