
<div class="container register" >
    <h1 class="register-title">Cadastrar</h1>
       
    <form action="" class="register-form">
        <div class="form-floating mb-3 register-form-input">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Nome</label>
    </div>
    <div class="form-floating mb-3 register-form-input">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">E-mail</label>
    </div>
    <div class="form-floating mb-3 register-form-input">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Senha</label>
    </div>
    <div class="form-floating mb-3 register-form-input">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Repetir senha</label>
    </div>
    <button class="btn btn-primary register-form-buttom" type="submit">Cadastrar</button>
    <button class="btn btn-light register-form-buttom" type="submit"><i class="fa-solid fa-home"></i> Cadastrar com o Google</button>
</form>
<span routerLink="/login">Já tenho conta</span>
      
</div>